.toggle-button{
    background: "none";
    border: none;
    color: black;
    padding: "0 35px";
}

.toggle-button:hover,.toggle-button:focus{
    background: "none";
    border: none;
    color: black;
}

.active-toggle-button{
    background: black;
    color: white;
    border-radius: 10px;
    padding: "0 35px" !important;
}

.active-toggle-button:focus, .active-toggle-button:active, .active-toggle-button:hover {
    background: black !important;
    outline: none;
    color: white;
    border-radius: 10px;
    padding: "0 35px" !important;
}

.schedule-button{
    padding: 15px 15px 40px;
    background: black;
    color: white;
    font-size: large;
    font-weight: 500;
    border-radius: 10px;
    margin: 0 10px;
}

.schedule-button:focus,.schedule-button:active,.schedule-button:hover{
    padding: 15px 15px 40px;
    background: black;
    color: white;
    font-size: large;
    font-weight: 500;
    border-radius: 10px;
}

.ellipsis {
    overflow: hidden;
    margin: 10px 0;
  }
  .ellipsis p {
    margin: 0;
  }

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    font-size: 1.2em;
    font-weight: 200;
  }